
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #2b9682;
    color: #404040;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    /*color: #404040;*/
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

.logo {
    margin: 10px;
    height: 50px ;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item { 
    display: inline-block;
    padding: 20px 10px;
} 

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom:  4px;
}

@media all and (max-width: 685px) {
    .navbar {
        flex-direction: column;
    }
    
    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
    
    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 70px;
        display: none;
        background-color: #2b9682;
    }
    
    .nav-list .list-item {
        display: block;
        border-top: 1px solid white;
        padding: 10px;
    }
    
    .logo {
        margin: 10px;
        margin-left: 10px;
        position: absolute;
        left: 20px;
        height: 50px;
    }
    
    .active {
        display: block;
    }
}